@import "../../../index.css";

.Home{
    display:flex;
    flex-direction: column;
    height: inherit;
    
    
}
.content{
    
    flex: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow-x:auto;
    
}

@media (max-width: 575.98px) { 
    .content{
        flex-direction: column;
        justify-content: space-around;
        
        overflow-x:visible;
        
    }
    
    
    
}